* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/.jsdtscope -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/edu/uiowa/slis/viva/Demo.java -text
src/main/java/edu/uiowa/slis/viva/PersonIndexer.java -text
src/main/resources/README.txt -text
src/main/webapp/ARG_2000379/ARG_2000379.jsp -text
src/main/webapp/ARG_2000379/ARG_2000379List.jsp -text
src/main/webapp/AcademicArticle/AcademicArticle.jsp -text
src/main/webapp/AcademicArticle/AcademicArticleList.jsp -text
src/main/webapp/AcademicArticle/altAcademicArticle.jsp -text
src/main/webapp/AcademicDegree/AcademicDegree.jsp -text
src/main/webapp/AcademicDegree/AcademicDegreeList.jsp -text
src/main/webapp/Addressing/Addressing.jsp -text
src/main/webapp/Addressing/AddressingList.jsp -text
src/main/webapp/Agent/Agent.jsp -text
src/main/webapp/Agent/AgentList.jsp -text
src/main/webapp/AnnotationProperty/AnnotationProperty.jsp -text
src/main/webapp/AnnotationProperty/AnnotationPropertyList.jsp -text
src/main/webapp/Area/Area.jsp -text
src/main/webapp/Area/AreaList.jsp -text
src/main/webapp/Article/Article.jsp -text
src/main/webapp/Article/ArticleList.jsp -text
src/main/webapp/AsymmetricProperty/AsymmetricProperty.jsp -text
src/main/webapp/AsymmetricProperty/AsymmetricPropertyList.jsp -text
src/main/webapp/AudioVisualDocument/AudioVisualDocument.jsp -text
src/main/webapp/AudioVisualDocument/AudioVisualDocumentList.jsp -text
src/main/webapp/AudioVisualDocument/altAudioVisualDocument.jsp -text
src/main/webapp/Authorship/Authorship.jsp -text
src/main/webapp/Authorship/AuthorshipList.jsp -text
src/main/webapp/BFO_0000001/BFO_0000001.jsp -text
src/main/webapp/BFO_0000001/BFO_0000001List.jsp -text
src/main/webapp/BFO_0000002/BFO_0000002.jsp -text
src/main/webapp/BFO_0000002/BFO_0000002List.jsp -text
src/main/webapp/BFO_0000003/BFO_0000003.jsp -text
src/main/webapp/BFO_0000003/BFO_0000003List.jsp -text
src/main/webapp/BFO_0000004/BFO_0000004.jsp -text
src/main/webapp/BFO_0000004/BFO_0000004List.jsp -text
src/main/webapp/BFO_0000006/BFO_0000006.jsp -text
src/main/webapp/BFO_0000006/BFO_0000006List.jsp -text
src/main/webapp/BFO_0000008/BFO_0000008.jsp -text
src/main/webapp/BFO_0000008/BFO_0000008List.jsp -text
src/main/webapp/BFO_0000015/BFO_0000015.jsp -text
src/main/webapp/BFO_0000015/BFO_0000015List.jsp -text
src/main/webapp/BFO_0000017/BFO_0000017.jsp -text
src/main/webapp/BFO_0000017/BFO_0000017List.jsp -text
src/main/webapp/BFO_0000020/BFO_0000020.jsp -text
src/main/webapp/BFO_0000020/BFO_0000020List.jsp -text
src/main/webapp/BFO_0000023/BFO_0000023.jsp -text
src/main/webapp/BFO_0000023/BFO_0000023List.jsp -text
src/main/webapp/BFO_0000031/BFO_0000031.jsp -text
src/main/webapp/BFO_0000031/BFO_0000031List.jsp -text
src/main/webapp/BFO_0000038/BFO_0000038.jsp -text
src/main/webapp/BFO_0000038/BFO_0000038List.jsp -text
src/main/webapp/BFO_0000141/BFO_0000141.jsp -text
src/main/webapp/BFO_0000141/BFO_0000141List.jsp -text
src/main/webapp/BFO_0000148/BFO_0000148.jsp -text
src/main/webapp/BFO_0000148/BFO_0000148List.jsp -text
src/main/webapp/Book/Book.jsp -text
src/main/webapp/Book/BookList.jsp -text
src/main/webapp/Book/altBook.jsp -text
src/main/webapp/BookSection/BookSection.jsp -text
src/main/webapp/BookSection/BookSectionList.jsp -text
src/main/webapp/Calendar/Calendar.jsp -text
src/main/webapp/Calendar/CalendarList.jsp -text
src/main/webapp/Chapter/Chapter.jsp -text
src/main/webapp/Chapter/ChapterList.jsp -text
src/main/webapp/Chapter/altChapter.jsp -text
src/main/webapp/Class/Class.jsp -text
src/main/webapp/Class/ClassList.jsp -text
src/main/webapp/Code/Code.jsp -text
src/main/webapp/Code/CodeList.jsp -text
src/main/webapp/Collection/Collection.jsp -text
src/main/webapp/Collection/CollectionList.jsp -text
src/main/webapp/Communication/Communication.jsp -text
src/main/webapp/Communication/CommunicationList.jsp -text
src/main/webapp/Company/Company.jsp -text
src/main/webapp/Company/CompanyList.jsp -text
src/main/webapp/Concept/Concept.jsp -text
src/main/webapp/Concept/ConceptList.jsp -text
src/main/webapp/Concept/altConcept.jsp -text
src/main/webapp/Conference/Conference.jsp -text
src/main/webapp/Conference/ConferenceList.jsp -text
src/main/webapp/ConferencePaper/ConferencePaper.jsp -text
src/main/webapp/ConferencePaper/ConferencePaperList.jsp -text
src/main/webapp/ConferencePaper/altConferencePaper.jsp -text
src/main/webapp/ConferencePoster/ConferencePoster.jsp -text
src/main/webapp/ConferencePoster/ConferencePosterList.jsp -text
src/main/webapp/ConferencePoster/altConferencePoster.jsp -text
src/main/webapp/Continent/Continent.jsp -text
src/main/webapp/Continent/ContinentList.jsp -text
src/main/webapp/Country/Country.jsp -text
src/main/webapp/Country/CountryList.jsp -text
src/main/webapp/Dataset/Dataset.jsp -text
src/main/webapp/Dataset/DatasetList.jsp -text
src/main/webapp/Datatype/Datatype.jsp -text
src/main/webapp/Datatype/DatatypeList.jsp -text
src/main/webapp/DatatypeProperty/DatatypeProperty.jsp -text
src/main/webapp/DatatypeProperty/DatatypePropertyList.jsp -text
src/main/webapp/DateTimeInterval/DateTimeInterval.jsp -text
src/main/webapp/DateTimeInterval/DateTimeIntervalList.jsp -text
src/main/webapp/DateTimeValue/DateTimeValue.jsp -text
src/main/webapp/DateTimeValue/DateTimeValueList.jsp -text
src/main/webapp/DateTimeValuePrecision/DateTimeValuePrecision.jsp -text
src/main/webapp/DateTimeValuePrecision/DateTimeValuePrecisionList.jsp -text
src/main/webapp/Document/Document.jsp -text
src/main/webapp/Document/DocumentList.jsp -text
src/main/webapp/DocumentPart/DocumentPart.jsp -text
src/main/webapp/DocumentPart/DocumentPartList.jsp -text
src/main/webapp/DocumentStatus/DocumentStatus.jsp -text
src/main/webapp/DocumentStatus/DocumentStatusList.jsp -text
src/main/webapp/Economic_region/Economic_region.jsp -text
src/main/webapp/Economic_region/Economic_regionList.jsp -text
src/main/webapp/Editorship/Editorship.jsp -text
src/main/webapp/Editorship/EditorshipList.jsp -text
src/main/webapp/Email/Email.jsp -text
src/main/webapp/Email/EmailList.jsp -text
src/main/webapp/Event/Event.jsp -text
src/main/webapp/Event/EventList.jsp -text
src/main/webapp/Explanatory/Explanatory.jsp -text
src/main/webapp/Explanatory/ExplanatoryList.jsp -text
src/main/webapp/FacultyAdministrativePosition/FacultyAdministrativePosition.jsp -text
src/main/webapp/FacultyAdministrativePosition/FacultyAdministrativePositionList.jsp -text
src/main/webapp/FacultyPosition/FacultyPosition.jsp -text
src/main/webapp/FacultyPosition/FacultyPositionList.jsp -text
src/main/webapp/FunctionalProperty/FunctionalProperty.jsp -text
src/main/webapp/FunctionalProperty/FunctionalPropertyList.jsp -text
src/main/webapp/Geo/Geo.jsp -text
src/main/webapp/Geo/GeoList.jsp -text
src/main/webapp/GeographicLocation/GeographicLocation.jsp -text
src/main/webapp/GeographicLocation/GeographicLocationList.jsp -text
src/main/webapp/GeographicRegion/GeographicRegion.jsp -text
src/main/webapp/GeographicRegion/GeographicRegionList.jsp -text
src/main/webapp/Geographical/Geographical.jsp -text
src/main/webapp/Geographical/GeographicalList.jsp -text
src/main/webapp/Geographical_region/Geographical_region.jsp -text
src/main/webapp/Geographical_region/Geographical_regionList.jsp -text
src/main/webapp/GeopoliticalEntity/GeopoliticalEntity.jsp -text
src/main/webapp/GeopoliticalEntity/GeopoliticalEntityList.jsp -text
src/main/webapp/GovernmentAgency/GovernmentAgency.jsp -text
src/main/webapp/GovernmentAgency/GovernmentAgencyList.jsp -text
src/main/webapp/Group/Group.jsp -text
src/main/webapp/Group/GroupList.jsp -text
src/main/webapp/IAO_0000003/IAO_0000003.jsp -text
src/main/webapp/IAO_0000003/IAO_0000003List.jsp -text
src/main/webapp/IAO_0000009/IAO_0000009.jsp -text
src/main/webapp/IAO_0000009/IAO_0000009List.jsp -text
src/main/webapp/IAO_0000030/IAO_0000030.jsp -text
src/main/webapp/IAO_0000030/IAO_0000030List.jsp -text
src/main/webapp/Identification/Identification.jsp -text
src/main/webapp/Identification/IdentificationList.jsp -text
src/main/webapp/Individual/Individual.jsp -text
src/main/webapp/Individual/IndividualList.jsp -text
src/main/webapp/InverseFunctionalProperty/InverseFunctionalProperty.jsp -text
src/main/webapp/InverseFunctionalProperty/InverseFunctionalPropertyList.jsp -text
src/main/webapp/IrreflexiveProperty/IrreflexiveProperty.jsp -text
src/main/webapp/IrreflexiveProperty/IrreflexivePropertyList.jsp -text
src/main/webapp/Journal/Journal.jsp -text
src/main/webapp/Journal/JournalList.jsp -text
src/main/webapp/Kind/Kind.jsp -text
src/main/webapp/Kind/KindList.jsp -text
src/main/webapp/LibrarianPosition/LibrarianPosition.jsp -text
src/main/webapp/LibrarianPosition/LibrarianPositionList.jsp -text
src/main/webapp/Location/Location.jsp -text
src/main/webapp/Location/LocationList.jsp -text
src/main/webapp/Name/Name.jsp -text
src/main/webapp/Name/NameList.jsp -text
src/main/webapp/NamedIndividual/NamedIndividual.jsp -text
src/main/webapp/NamedIndividual/NamedIndividualList.jsp -text
src/main/webapp/NonAcademicPosition/NonAcademicPosition.jsp -text
src/main/webapp/NonAcademicPosition/NonAcademicPositionList.jsp -text
src/main/webapp/NonFacultyAcademicPosition/NonFacultyAcademicPosition.jsp -text
src/main/webapp/NonFacultyAcademicPosition/NonFacultyAcademicPositionList.jsp -text
src/main/webapp/Non_self_governing/Non_self_governing.jsp -text
src/main/webapp/Non_self_governing/Non_self_governingList.jsp -text
src/main/webapp/ObjectProperty/ObjectProperty.jsp -text
src/main/webapp/ObjectProperty/ObjectPropertyList.jsp -text
src/main/webapp/Ontology/Ontology.jsp -text
src/main/webapp/Ontology/OntologyList.jsp -text
src/main/webapp/Organization/Organization.jsp -text
src/main/webapp/Organization/OrganizationList.jsp -text
src/main/webapp/Organizational/Organizational.jsp -text
src/main/webapp/Organizational/OrganizationalList.jsp -text
src/main/webapp/Other/Other.jsp -text
src/main/webapp/Other/OtherList.jsp -text
src/main/webapp/Periodical/Periodical.jsp -text
src/main/webapp/Periodical/PeriodicalList.jsp -text
src/main/webapp/Person/Person.jsp -text
src/main/webapp/Person/PersonList.jsp -text
src/main/webapp/Person/altPerson.jsp -text
src/main/webapp/Person/altPersonGitHubProbe.jsp -text
src/main/webapp/Person/altPersonImage.jsp -text
src/main/webapp/Person/altPersonList.jsp -text
src/main/webapp/Person/altPersonTwitter.jsp -text
src/main/webapp/Person/person_tab0.jsp -text
src/main/webapp/Person/person_tab1.jsp -text
src/main/webapp/Person/person_tab2.jsp -text
src/main/webapp/Person/person_tab3.jsp -text
src/main/webapp/Person/person_tab3_1.jsp -text
src/main/webapp/Person/person_tab3_2.jsp -text
src/main/webapp/Person/person_tab3_3.jsp -text
src/main/webapp/Person/person_tab3_4.jsp -text
src/main/webapp/Person/person_tab3_5.jsp -text
src/main/webapp/Person/person_tab3_6.jsp -text
src/main/webapp/Person/person_tab4.jsp -text
src/main/webapp/Person/person_tab5.jsp -text
src/main/webapp/Person/searchPerson.jsp -text
src/main/webapp/Position/Position.jsp -text
src/main/webapp/Position/PositionList.jsp -text
src/main/webapp/PostdocPosition/PostdocPosition.jsp -text
src/main/webapp/PostdocPosition/PostdocPositionList.jsp -text
src/main/webapp/PrimaryPosition/PrimaryPosition.jsp -text
src/main/webapp/PrimaryPosition/PrimaryPositionList.jsp -text
src/main/webapp/Publisher/Publisher.jsp -text
src/main/webapp/Publisher/PublisherList.jsp -text
src/main/webapp/ReflexiveProperty/ReflexiveProperty.jsp -text
src/main/webapp/ReflexiveProperty/ReflexivePropertyList.jsp -text
src/main/webapp/Relationship/Relationship.jsp -text
src/main/webapp/Relationship/RelationshipList.jsp -text
src/main/webapp/Report/Report.jsp -text
src/main/webapp/Report/ReportList.jsp -text
src/main/webapp/ResearcherRole/ResearcherRole.jsp -text
src/main/webapp/ResearcherRole/ResearcherRoleList.jsp -text
src/main/webapp/Restriction/Restriction.jsp -text
src/main/webapp/Restriction/RestrictionList.jsp -text
src/main/webapp/Security/Security.jsp -text
src/main/webapp/Security/SecurityList.jsp -text
src/main/webapp/Self_governing/Self_governing.jsp -text
src/main/webapp/Self_governing/Self_governingList.jsp -text
src/main/webapp/Slideshow/Slideshow.jsp -text
src/main/webapp/Slideshow/SlideshowList.jsp -text
src/main/webapp/Slideshow/altSlideshow.jsp -text
src/main/webapp/Special_group/Special_group.jsp -text
src/main/webapp/Special_group/Special_groupList.jsp -text
src/main/webapp/StateOrProvince/StateOrProvince.jsp -text
src/main/webapp/StateOrProvince/StateOrProvinceList.jsp -text
src/main/webapp/SymmetricProperty/SymmetricProperty.jsp -text
src/main/webapp/SymmetricProperty/SymmetricPropertyList.jsp -text
src/main/webapp/Telephone/Telephone.jsp -text
src/main/webapp/Telephone/TelephoneList.jsp -text
src/main/webapp/Thing/Thing.jsp -text
src/main/webapp/Thing/ThingList.jsp -text
src/main/webapp/TimeZone/TimeZone.jsp -text
src/main/webapp/TimeZone/TimeZoneList.jsp -text
src/main/webapp/Title/Title.jsp -text
src/main/webapp/Title/TitleList.jsp -text
src/main/webapp/TransitiveProperty/TransitiveProperty.jsp -text
src/main/webapp/TransitiveProperty/TransitivePropertyList.jsp -text
src/main/webapp/Type/Type.jsp -text
src/main/webapp/Type/TypeList.jsp -text
src/main/webapp/UO_0000280/UO_0000280.jsp -text
src/main/webapp/UO_0000280/UO_0000280List.jsp -text
src/main/webapp/URL/URL.jsp -text
src/main/webapp/URL/URLList.jsp -text
src/main/webapp/Work/Work.jsp -text
src/main/webapp/Work/WorkList.jsp -text
src/main/webapp/classHierarchy.jsp -text
src/main/webapp/classList.jsp -text
src/main/webapp/footer.jsp -text
src/main/webapp/head.jsp -text
src/main/webapp/header.jsp -text
src/main/webapp/images/bullet-l1.gif -text
src/main/webapp/images/cd2h_honeycomb.png -text svneol=unset#image/png
src/main/webapp/images/cd2h_invent.png -text svneol=unset#image/png
src/main/webapp/images/ctsa-g-logo.jpg -text svneol=unset#image/jpeg
src/main/webapp/images/labs-logo.png -text svneol=unset#image/png
src/main/webapp/images/labslogo2.png -text svneol=unset#image/png
src/main/webapp/images/loading.gif -text
src/main/webapp/images/masthead-divider.png -text svneol=unset#image/png
src/main/webapp/images/masthead-hhs-logo.png -text svneol=unset#image/png
src/main/webapp/images/masthead-nih-logo.png -text svneol=unset#image/png
src/main/webapp/images/onlinelogomaker-111617-1142-7717.png -text svneol=unset#image/png
src/main/webapp/images/person_icon.png -text svneol=unset#image/png
src/main/webapp/images/shade.gif -text
src/main/webapp/images/shadeactive.gif -text
src/main/webapp/index.jsp -text
src/main/webapp/local_index.jsp -text
src/main/webapp/local_menu_end.jsp -text
src/main/webapp/local_menu_home.jsp -text
src/main/webapp/local_nav.jsp -text
src/main/webapp/menu.jsp -text
src/main/webapp/resources/ajaxtabs.css -text
src/main/webapp/resources/ajaxtabs.js -text
src/main/webapp/resources/cd2h -text
src/main/webapp/resources/css -text
src/main/webapp/resources/d3.v3.min.js -text
src/main/webapp/resources/jdbc_environment.jsp -text
src/main/webapp/resources/layout(old).css -text
src/main/webapp/resources/layout.css -text
src/main/webapp/resources/slick.min.css -text
src/main/webapp/resources/style.css -text
src/main/webapp/resources/styles.css -text
src/main/webapp/territory/territory.jsp -text
src/main/webapp/territory/territoryList.jsp -text
src/main/webapp/utility/githubers.jsp -text
src/main/webapp/utility/sparqlDump.jsp -text
src/main/webapp/utility/tweeters.jsp -text
src/test/java/edu/uiowa/slis/viva/DemoTest.java -text
src/test/resources/README.txt -text
